@()
@main("Welcome to my contact manager!") {

<script src='/assets/javascripts/jquery-2.1.1.min.js'></script>
<script src='/assets/javascripts/js-cookie.js'></script>
<script src='@routes.Assets.versioned("javascripts/index.js")'></script>

<hr>
Select a user:
<select id="users">
</select>
<hr>

<b>User details</b>
<br>
<table>
    <tr>
        <td>name:</td>
        <td><input id="name" readonly></td>
    </tr>
    <tr>
        <td>uuid:</td>
        <td><input id="uuid" readonly></td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <button onClick="deleteUser()">Delete user</button>
        </td>
        <td>
            <button onClick="document.getElementById('adduser').style.display = 'inline';">Add user</button>
        </td>
        <td>
            <button onClick="document.getElementById('addcontact').style.display = 'inline';">Add contact</button>
        </td>
    </tr>
</table>


<hr>
<b>Contacts:</b>

<ul id="contacts"></ul>

<br><br><br>
<div id="adduser" style="display: none">
    <hr>
    <br>
    <b>Add user:</b>

    <form action="@routes.Application.addUser()" method="post">
        <table>
            <tr>
                <td>name:</td>
                <td><input name="name" autocomplete="off"></td>
            </tr>
        </table>
        <button>Add user</button>
    </form>
    <button onClick="document.getElementById('adduser').style.display = 'none';">Cancel</button>
</div>

<div id="addcontact" style="display: none">
    <b>Add contact:</b>
    <hr>
    <br>

    <form action="@routes.Application.addContact()" method="post">
        <input type="hidden" id="addContactUserUuid" name="userUuid">
        <table>
            <tr>
                <td>name:</td>
                <td><input name="name" autocomplete="off"></td>
            </tr>
            <tr>
                <td>email:</td>
                <td><input name="email" autocomplete="off"></td>
            </tr>
        </table>
        <button>Add contact</button>
    </form>
    <button onClick="document.getElementById('addcontact').style.display = 'none';">Cancel</button>
</div>

}
